@charset "utf-8";
/* CSS Document */

.change-sec {cursor: pointer;}
.clickable {cursor:pointer;}


h1 span.change-sec {font-size:0.8em;} /* back/fwd arrow in page headings */
h1 span.sp-sm {font-size:0.6em;}

input.max-width {max-width:70px;}

.ax-txt-strong	{font-weight: bold;}
.ax-min-width 	{min-width:80px;}

.ax-navbar-top {padding:5px;}
.ax-navbar-top a {color:white; font-weight: bold;}
.ax-navbar-top select {color:black;}

.level-1-indent {text-indent:1em;}
.level-2-indent {text-indent:1em;}



.ax-container{
	margin-left: 0;
	margin-right: 0;
	padding-top:8px;
	background-color: #fff;
	border-width: 1px;
	border-style:solid;
	border-color: #ddd;
	border-radius: 4px 4px 0 0;
	box-shadow: none;
}

.ax-modal-tmargin {margin-top: 20px;}
.ax-modal-dialog-small {
	width:280px;
}

.ax-has-error {background-color:#F2DEDE;}