parameters:
    level: 0
    paths:
        - ../
    excludePaths:
        - ../vendor_t74
        - ../vendor_t85
        - ../local_config
        - ../external/php53_2
        - ../php/utilities/send_swiftmail.php
    scanFiles:
        - ../local_config/config.php
